.m-accordion {
  @include resetList;
  box-shadow: $shadow;
  margin: 0 auto;
  width: 100%;
  max-width: 40rem;
  overflow: hidden;

  &__item {
    &.open {
      .m-accordion {
        &__btn {
          &:after {
            transform: translateY(-50%) rotate(180deg);
            transition: transform 500ms;
            transition-delay: 250ms;
          }
        }

        &__content {
          max-height: 1500px;
          transition: max-height 3s;
          transition-delay: 750ms;
        }
      }
    }
  }

  &__btn {
    appearance: none;
    border: none;
    border-bottom: 1px solid $black;
    display: block;
    padding: $gap2 $gap3;
    text-align: left;
    width: 100%;
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: $gap3;
      transform: translateY(-50%);
      height: 24px;
      width: 24px;
      background: url('#{$resPath}/img/icon/chevron.svg') center no-repeat;
      background-size: contain;
      transition: transform 1s;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;

    p {
      padding: $gap2 $gap3;
    }
  }
}
