body {
  color: $colorBody;
  font-family: $fontFamily;
  text-size-adjust: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &::selection {
    color: $white;
    background: $colorAccent;
  }
}
