.wrap {
  margin: 0 auto;
  width: calc(100% - #{$gap3 * 2});
  word-break: break-word;

  @include screenMin($screenSM) {
    width: calc(100% - (#{$gap3} * 4));
    max-width: $screenSM;
  }

  @include screenMin($screenMD) {
    max-width: $screenMD;
  }

  @include screenMin($screenLG) {
    max-width: $screenLG;
  }

  @include screenMin($screenXL) {
    max-width: $screenXL;
  }

  @include screenMin($screen2XL) {
    max-width: $screen2XL;
  }
}
