@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  color: rgba(15, 23, 42, 0.75);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::-moz-selection {
  color: #fff;
  background: #e65778;
}
body::selection {
  color: #fff;
  background: #e65778;
}

.wrap {
  margin: 0 auto;
  width: calc(100% - 48px);
  word-break: break-word;
}
@media screen and (min-width: 640px) {
  .wrap {
    width: calc(100% - (24px * 4));
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .wrap {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .wrap {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .wrap {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1536px) {
  .wrap {
    max-width: 1536px;
  }
}

.m-accordion {
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.006), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.008), 12.5px 12.5px 10px rgba(0, 0, 0, 0.01), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.012), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.014), 100px 100px 80px rgba(0, 0, 0, 0.02);
  margin: 0 auto;
  width: 100%;
  max-width: 40rem;
  overflow: hidden;
}
.m-accordion__item.open .m-accordion__btn:after {
  transform: translateY(-50%) rotate(180deg);
  transition: transform 500ms;
  transition-delay: 250ms;
}
.m-accordion__item.open .m-accordion__content {
  max-height: 1500px;
  transition: max-height 3s;
  transition-delay: 750ms;
}
.m-accordion__btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-bottom: 1px solid #000;
  display: block;
  padding: 16px 24px;
  text-align: left;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.m-accordion__btn:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  background: url("../../res/img/icon/chevron.svg") center no-repeat;
  background-size: contain;
  transition: transform 1s;
}
.m-accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}
.m-accordion__content p {
  padding: 16px 24px;
}/*# sourceMappingURL=styles.css.map */