// Colours

$colorPrimaryDark: #060a13;
$colorPrimary: #14213d;
$colorPrimaryLight: #1e325c;

$colorAccentDark: #df2651;
$colorAccent: #e65778;
$colorAccentLight: #eb7b95;

$colorHeading: #0f172a;
$colorLight: rgba($colorHeading, 0.5);
$colorBody: rgba($colorHeading, 0.75);
$colorBorder: rgba($colorHeading, 0.25);

$colorDanger-bg: #fecaca;
$colorDanger: #ef4444;
$colorInfo-bg: #bfdbfe;
$colorInfo: #3b82f6;
$colorSuccess-bg: #a7f3d0;
$colorSuccess: #10b981;
$colorWarning-bg: #fef08a;
$colorWarning: #facc15;

$backgroundPrimary: #fff;
$backgroundSecondary: #f8fafc;
$backgroundTertiary: #f1f5f9;

$white: #fff;
$black: #000;

// Animations
$animationSpeed125: 125ms;
$animationSpeed250: 250ms;
$animationSpeed500: 500ms;
$animationSpeed750: 750ms;
$animationSpeed1000: 1000ms;
$animation: cubic-bezier(0.35, 0, 0.35, 1);

// Border Radii
$radiusNone: 0;
$radiusSM: 4px;
$radiusMD: 8px;
$radiusLG: 12px;
$radiusFull: 1000px;
$radius: $radiusSM;

// Box Shadow
$shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.006),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.008), 12.5px 12.5px 10px rgba(0, 0, 0, 0.01),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.012),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.014),
  100px 100px 80px rgba(0, 0, 0, 0.02);

// Gaps
$gap1: 8px;
$gap2: 16px;
$gap3: 24px;
$gap4: 32px;
$gap5: 48px;
$gap6: 64px;
$gap7: 72px;
$gap8: 80px;
$gap9: 88px;
$gap10: 96px;

// Paths
$resPath: '../../res';

// Screen Sizes
$screenXS: 480px;
$screenSM: 640px;
$screenMD: 768px;
$screenLG: 1024px;
$screenXL: 1280px;
$screen2XL: 1536px;

// Typography
$fontFamilySans: 'Open Sans', Helvetica, Arial, sans-serif;
$fontFamily: $fontFamilySans;
$fontSize: 14;

// Z Indexes
$z10: 10;
$z20: 20;
$z30: 30;
$z40: 40;
$z50: 50;
